In [1]:
from collections import Counter
import pandas as pd
import numpy as np
import re

In [2]:
# read kaggle lyrics 
df = pd.read_csv('lyrics.csv')
df = df.drop('index', axis=1)
print(df.shape)
df.head()

(362237, 5)

,song,year,artist,genre,lyrics
0,ego-remix,2009,beyonce-knowles,Pop,"Oh baby, how you doing?\nYou know I'm gonna cu..."
1,then-tell-me,2009,beyonce-knowles,Pop,"playin' everything so easy,\nit's like you see..."
2,honesty,2009,beyonce-knowles,Pop,If you search\nFor tenderness\nIt isn't hard t...
3,you-are-my-rock,2009,beyonce-knowles,Pop,"Oh oh oh I, oh oh oh I\n[Verse 1:]\nIf I wrote..."
4,black-culture,2009,beyonce-knowles,Pop,"Party the people, the people the party it's po..."

In [3]:
# subset lyrics
tom = df[df['artist'].isin(['blink-182','angels-and-airwaves','boxcar-racer'])].reset_index(drop=True)
print(tom.shape)
tom.head()

(301, 5)

,song,year,artist,genre,lyrics
0,mandy,2007,boxcar-racer,Rock,[Live Barry Manilow Cover]\nI remember all my ...
1,elevator,2006,boxcar-racer,Rock,The building turned it's back\nIgnored my call...
2,dance-with-me,2006,boxcar-racer,Rock,Last stop on the bullet train\nNeed time to fe...
3,watch-the-world,2006,boxcar-racer,Rock,I watched the smoke\nAs it grew darker\nAnd bl...
4,sorry,2006,boxcar-racer,Rock,Oh I have a lot to say\nWhat's taking my time ...

In [4]:
set(tom['artist'])

{'angels-and-airwaves', 'blink-182', 'boxcar-racer'}

In [5]:
# remove duplicates
seen = []
keep = []
for i in range(len(tom)):
    song = tom.loc[i,'song']
    if song not in seen:
        seen.append(song)
        keep.append(i)
tom = tom.iloc[keep,:].sort_values('song').reset_index(drop=True)
print(tom.shape)
tom.head()

(286, 5)

,song,year,artist,genre,lyrics
0,13-miles,2007,blink-182,Rock,13 miles down the road lives a young boy\nHe's...
1,21-days,2006,blink-182,Rock,My mind wanders as I'm trying not to fall in l...
2,a-letter-to-elise,2007,blink-182,Rock,"Oh Elise, it doesn't matter what you say\nI ju..."
3,a-little-s-enough,2006,angels-and-airwaves,Rock,When all is said and done\nWill we still feel ...
4,a-new-hope,2006,blink-182,Rock,I've got her in my head\nAt night when I go to...

In [6]:
# I manually found a bunch of songs to remove
to_remove = [9,11,15,24,28,36,39,49,51,59,77,85,90,100,
             107,117,119,123,125,133,143,150,154,160,
             164,188,191,211,214,222,236,263,273]
tom_cleaned = tom.drop(to_remove)
print(tom_cleaned.shape)
tom_cleaned.head()

(253, 5)

,song,year,artist,genre,lyrics
0,13-miles,2007,blink-182,Rock,13 miles down the road lives a young boy\nHe's...
1,21-days,2006,blink-182,Rock,My mind wanders as I'm trying not to fall in l...
2,a-letter-to-elise,2007,blink-182,Rock,"Oh Elise, it doesn't matter what you say\nI ju..."
3,a-little-s-enough,2006,angels-and-airwaves,Rock,When all is said and done\nWill we still feel ...
4,a-new-hope,2006,blink-182,Rock,I've got her in my head\nAt night when I go to...

In [7]:
# then I found some more
to_remove2 = [2,5,6,14,17,21,30,33,43,54,55,58,60,72,
              74,81,95,96,98,105,113,115,118,122,
              126,127,128,131,138,151,169,172,175,176,
              177,181,184,186,194,197,202,207,209,
              218,225,227,232,233,234,237,239,248,
              252,269,276,279,280,281,282,283]

In [8]:
tom_cleaned2 = tom_cleaned.drop(to_remove2)

# remove missing values
tom_cleaned2 = tom_cleaned2.loc[tom_cleaned2['song'].isna()==False]
tom_cleaned2 = tom_cleaned2.loc[tom_cleaned2['year'].isna()==False]
tom_cleaned2 = tom_cleaned2.loc[tom_cleaned2['artist'].isna()==False]
tom_cleaned2 = tom_cleaned2.loc[tom_cleaned2['genre'].isna()==False]
tom_cleaned2 = tom_cleaned2.loc[tom_cleaned2['lyrics'].isna()==False]
tom_cleaned2 = tom_cleaned2.reset_index(drop=True)
print(tom_cleaned2.shape)
tom_cleaned2.head()

(193, 5)

,song,year,artist,genre,lyrics
0,13-miles,2007,blink-182,Rock,13 miles down the road lives a young boy\nHe's...
1,21-days,2006,blink-182,Rock,My mind wanders as I'm trying not to fall in l...
2,a-little-s-enough,2006,angels-and-airwaves,Rock,When all is said and done\nWill we still feel ...
3,a-new-hope,2006,blink-182,Rock,I've got her in my head\nAt night when I go to...
4,adam-s-song,2000,blink-182,Rock,I never thought I'd die alone\nI laughed the l...

In [9]:
tom_cleaned2.to_csv('tom.csv', index=False)